<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>twoWayBind</title>
</head>

<body>
  <div id="app">
    <h1>{{name1}}</h1>
    <!-- v-model 同步綁定vue資料和表單的語法 -->
    <input type="text" v-model="name1" />
    <br />
    <br />
    <br />
    <h1>{{name2.will}}</h1>
    <input type="text" v-model="name2.will" />
  </div>
  <script src="./js/vue.js"></script>
  <script>
    const { ref, reactive } = Vue;
    const App = {
      setup() {
        const name1 = ref("ben")
        const name2 = reactive({ will: "william" })
        return { name1, name2 };
      },
    };
    Vue.createApp(App).mount("#app");
  </script>
</body>

</html>